spring:
  application:
    name: yapily
  config:
    import: "vault://"
  threads:
    virtual:
      enabled: true
  cloud:
    vault:
      uri: http://localhost:8200
      token: root-token
      scheme: http
      kv:
        enabled: true
        backend: secret
        default-context: yapily-middleware

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
    consumer:
      group-id: payment-middleware-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port : 8081
